extends ../layout/main

block variables
  - var title = 'Modal window task'
  - var pageClass = 'Home-page'

block content
  main
    // секция home
    section.section-home#Home
      .container 
        .blockWithContentHome
          h1 Создание модального окна
          p Тут будет небольшое описание
          .wrapperButtonsHome 
            a(href='' rel='chapter') Кнопка 1
            a(href='' rel='chapter') Кнопка 2
          .blockWithModalWindow
            //модальное окно
            //- .vmodal Окно
            //-   // элемент для затемнения всего контента
            //-   .modal-overlay
            //-     .modal-window
            //-       .modal-header
            //-         span.modal-title Modal title
            //-         span.modal-close &times;
            //-       .modal-body
            //-         p Lorem ipsum dolor sit.
            //-         p Lorem ipsum dolor sit.
            //-       .modal-footer
            //-         button Ok
            //-         button Cancel
    // / секция home