extends ../layout/main

block variables
  - var title = 'Second page of Modal window task'
  - var pageClass = 'Second-page'

block content
  main
    section.Second_sectionHome#Second
      .container
        .blockWithContentHome
          h1 Вторая страничка
          p.textP.
            К вашему вниманию представлены следующие автомобили:
          .row#cars