extends ../layout/main

block variables
  - var title = 'Thtird page of Modal window task'
  - var pageClass = 'Thtird-page'

block content
  main
    section.Second_sectionHome#Thtird
      .container
        .blockWithContentHome
          h1 Вторая страничка
          p.textP.
            К вашему вниманию представлено следующее снаряжение:
          .row#ammunition