@import "~normalize.css";
@import "header/header.scss";

body {
  background-color: rgb(27, 27, 27);
  color: wheat;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}
.section-home {
  text-align: center;
}